@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: blue;
}

body {
    background-color: #212226;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

h1,
button,
span {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
}

.container {
    background-color: red;
    width: 290px;
    height: 170px;
    border-radius: 16px;
    margin: 100px auto 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.container .timer {
    font-size: 35px;
}

.container .timer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .buttons button {
    width: 50px;
    height: 25px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 8px;
}

.times {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.times button {
    width: 60px;
    height: 20px;
    border: 1px solid var(--blue);
    border-radius: 16px;
    background-color: var(--blue);
}